@use 'app/shared/styles/variables';

// ─── Reset ───────────────────────────────────────────────────────────────────

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

// ─── Base ────────────────────────────────────────────────────────────────────
body {
  font-family: variables.$font-family-base;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition:
    background-color variables.$transition-medium,
    color variables.$transition-medium;
}

// ─── Scrollbar ────────────────────────────────────────────────────────────────
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 0.125rem;
}
